<?
  require_once( __DIR__."/vendor/autoload.php" );

  use Rimksky\Config\Config;

  Config::getInstance()->config = (object) [
    "token" => "<your application access token>",
    "srcDir" => "/src/your/dir/path",
    "dstDir" => "/dst/your/dir/path",
  ];

?>
